<Config>
	<System>
		<Port>53</Port>
		<TCPThreadPoolMinSize>5</TCPThreadPoolMinSize>
		<TCPThreadPoolMaxSize>20</TCPThreadPoolMaxSize>
		<TCPThreadPoolShutdownTimeout>60</TCPThreadPoolShutdownTimeout>
		<UDPThreadPoolMinSize>5</UDPThreadPoolMinSize>
		<UDPThreadPoolMaxSize>20</UDPThreadPoolMaxSize>
		<UDPThreadPoolShutdownTimeout>60</UDPThreadPoolShutdownTimeout>
		<AXFRTimeout>30</AXFRTimeout>
		<RequireZones>false</RequireZones>
		
		<!-- NOERROR or NXDOMAIN -->
		
		<DefaultResponse>NXDOMAIN</DefaultResponse>
	</System>
	
	<ZoneProviders>
		<ZoneProvider>
			<Name>Default file zone provider</Name>
			<Class>se.unlogic.eagledns.zoneproviders.file.FileZoneProvider</Class>
			<Properties>
				<Property name="zoneFileDirectory">zones</Property>
				<Property name="autoReloadZones">true</Property>
				<Property name="pollingInterval">10</Property>
			</Properties>
		</ZoneProvider>
	</ZoneProviders>
	
	<Resolvers>
		<Resolver>
			<Name>Authoritative resolver</Name>
			<Class>se.unlogic.eagledns.resolvers.AuthoritativeResolver</Class>
		</Resolver>
		
		<!-- Uncomment the block below to enable a forwarding resolver without failover enabled -->
		
		
		<Resolver>
			<Name>Forwarder (without failover)</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">192.168.15.1</Property>
				<Property name="timeout">1</Property>
			</Properties>			
		</Resolver>	
						
		
		<!-- Uncomment the block below to enable a forwarding resolver with failover enabled -->
		
		<!--
		<Resolver>
			<Name>Forwarder (with failover)</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">192.168.1.245</Property>
				<Property name="timeout">1</Property>
				<Property name="maxerrors">3</Property>
				<Property name="errorWindowsSize">30</Property>
				<Property name="validationQuery">samplezone.org</Property>
			</Properties>			
		</Resolver>
		-->
	</Resolvers>			
</Config>
